@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --mineShaft: #333333;
    --tundora: #4a4a4a;
    --dustyGray: #9b9b9b;
    --gallery: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--mineShaft);
    font-family: "Open Sans", "sans-serif";
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    letter-spacing: 4px;
    margin-bottom: 30px;
    text-align: center;
}

label .label-text {
    color: var(--dustyGray);
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    transform: translateY(-34px);
    transition: all 0.3s;
}

label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--tundora);
    color: #fff;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 300px;
}

label input:focus {
    max-width: 100%;
    width: 400px;
}

label input:focus + .label-text {
    color: var(--gallery);
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}

label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}  

button {
    background-color: var(--mineShaft);
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 300ms;
}

button:hover, button:focus {
  background-color: #fff;
  color: var(--mineShaft);
   outline: 0;
   transform: scale(1.1);
}